*
{
  background-color:black;
  color:white;
  text-align: center;
}
h1{
  font-family: Regular Libre ;
  font-size:3rem;
}
img
{
    border:5px solid white;
    width:100%;
}
p
{
    font-size:2rem;
}
div
{
    width:50%;
    margin-left:25%;
}